*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px 300px 100px;
    gap: 10px;
    padding: 10px;
}
section{
    border-radius: 30px;
}


nav{
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
#upper{
    background-color: magenta;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;

}
#lower-left{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;

}
#lower-right{
    background-color: fuchsia;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
footer{
    background-color: #8a8989;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
